Title of the Notebook

In [3]:
 #Title of the notebook

In [4]:
# Introduction

Name: Ash 
Project No. 1

In [5]:
 #markdown to list 3 data science language

Data Science: 

Python
R 
spyder

In [7]:
#data science library

Data Science library: 
Sklearn, carrt

In [8]:
# markdown table od data science tools

| Category           | Tools                                                                                                    |
|--------------------|----------------------------------------------------------------------------------------------------------|
| Programming        | Python, R, Julia                                                                                         |
| Data Manipulation  | Pandas, NumPy, dplyr                                                                                     |
| Data Visualization | Matplotlib, Seaborn, ggplot2, Plotly                                                                     |
| Machine Learning   | Scikit-learn, TensorFlow, PyTorch, Keras                                                                 |
| Big Data           | Spark, Hadoop, Kafka                                                                                     |
| SQL                | SQLite, PostgreSQL, MySQL, Microsoft SQL Server                                                           |
| Cloud Computing    | Google Cloud Platform, Amazon Web Services, Microsoft Azure                                               |
| Data Cleaning      | OpenRefine, Trifacta Wrangler                                                                           |
| Data Integration   | Apache NiFi, Talend                                                                                      |
| Reporting          | Tableau, Power BI, Looker, Google Data Studio                                                            |

In [9]:
#Markdown cell introducing arithmetic expression examples

Arithmetic expressions are used in programming to perform mathematical calculations. Examples include:

- Addition: `2 + 3 = 5`
- Subtraction: `5 - 2 = 3`
- Multiplication: `2 * 3 = 6`
- Division: `6 / 3 = 2`
- Exponentiation: `2 ** 3 = 8` (2 raised to the power of 3)
- Modulo: `7 % 3 = 1` (remainder of 7 divided by 3)

In [11]:
#Code cell to multiply and add numbers

In [12]:
# Multiplication
result_multiply = 2 * 3
print("Multiplication result:", result_multiply)

# Addition
result_add = 2 + 3
print("Addition result:", result_add)

Multiplication result: 6
Addition result: 5

In [13]:
#Code cell to convert minutes to hours:

In [14]:
# Convert minutes to hours
minutes = 150
hours = minutes / 60
print("150 minutes is equal to", hours, "hours")

150 minutes is equal to 2.5 hours

In [15]:
#Markdown cell listing objectives:


1. Demonstrate understanding of basic arithmetic operations.
2. Create a markdown table of Data Science tools.
3. Convert minutes to hours using Python.
4. Share the notebook through GitHub.

In [17]:
#Markdown cell indicating the Author's name:

**Author:** [Ash]